.place__title {
    font-family: "Inter", sans-serif, arial;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: left;
    align-self: start;
    margin: 0;
}

@media screen and (max-width: 1152px) {
    .place__title {
        font-size: 5.47vw;
        line-height: 7.42vw;
    }
}

@media screen and (max-width: 896px) {
    .place__title {
        font-size: 5.47vw;
        line-height: 5.99vw;
    }
}

@media screen and (max-width: 544px) {
    .place__title {
        font-size: 10vw;
        line-height: 10.94vw;
        margin-left: 5vw;
    }
}