.photo-grid {
    max-width: calc(100% - 48px * 2);
    margin: 0 auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    justify-content: center;
}

@media screen and (max-width: 1152px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
        gap: 1.37vw;
    }
}

@media screen and (max-width: 896px) {
    .photo-grid {
        max-width: calc(100% - 24px * 2);
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 544px) {
    .photo-grid {
        max-width: calc(100% - 16px * 2);
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
        row-gap: 12px;
        column-gap: 0;
    }
}
