.place__paragraph {
    font-family: "Inter", sans-serif, arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}

@media screen and (max-width: 1152px) {
    .place__paragraphs {
        font-size: 1.76vw;
        line-height: 2.83vw;
    }
}

@media screen and (max-width: 896px) {
    .place__paragraphs {
        font-size: 2.08vw;
        line-height: 3.39vw;
    }
}

@media screen and (max-width: 544px) {
    .place__paragraphs {
        font-size: 5vw;
        line-height: 8.13vw;
    }
}