.lead__image {
    max-width: 984px;
    max-height: 615px;
    margin: 0 auto 8px;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;

}

@media screen and (max-width: 1152px) {
    .lead__image {
        max-width: max-content;
        margin-bottom: 0.78vw;
        width: 90.63vw;
    }
}

@media screen and (max-width: 896px) {
    .lead__image {
        margin-bottom: 1.04vw;
        width: 100%;
    }
}

@media screen and (max-width: 544px) {
    .lead__image {
        margin-bottom: 1.9vw;
    }
}
