.lead__caption {
    font-family: "Inter", sans-serif, arial;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 984px;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
    .lead__caption {
        font-size: 0.98vw;
        width: 90.63vw;
        letter-spacing: 0.146vw;
    }
}

@media screen and (max-width: 896px) {
    .lead__caption {
        font-size: 1.30vw;
        width: 100%;
        letter-spacing: 0.195vw;
        padding-left: 3.13vw;
    }
}

@media screen and (max-width: 544px) {
    .lead__caption {
        font-size: 3.13vw;
        letter-spacing: 0.469vw;
        padding-left: 5.2vw;
    }
}