.footer {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    flex-wrap: wrap;
    gap: 48px;
}

@media screen and (max-width: 1152px) {
    .footer {

    }
}

@media screen and (max-width: 544px) {
    .footer {

    }
}

@media screen and (max-width: 544px) {
    .footer {

    }
}