.footer {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    flex-wrap: wrap;
    gap: 48px;
}

@media screen and (max-width: 1152px) {
    .footer {
        width: 90.63vw;
    }
}

@media screen and (max-width: 896px) {
    .footer {
        width: 93.75vw;

    }
}

@media screen and (max-width: 544px) {
    .footer {
        width: 64vw;
    }
}